.main{
    margin: 0 auto;
    width: 100%;
    
}

.featured img{
    max-width: 100%;
    height: auto;
    max-width: 60%;
    display: block;
    border-radius: 100%;
    border: 2px solid black;
    padding: 2px;
    animation-direction: reverse;
   
}

.title{
    text-align:center;
    padding: 1em;
    font-family: Georgia;
    font-size: 85.9%;
    color: black;
    text-decoration: underline;
    max-width: 60%;
       
}
.content{
   width:60%;
    text-align: left;
}
    


.featured{
   width: 30%;  
}

.mid{
  width: 10%    
}

.grid{
   display: flex; 
}

.menu a {
    
    text-decoration: none;
    color: white;
    padding: 2em;
    display: inline-block;
    
    
}

.menu .active{
    color: black;
    background-color: white;
    font-weight: 545;
    text-transform: uppercase;
}

.menu a:hover{
    color: black;
    background-color: white;
}

.menu{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-bottom-width: 30%;
    background-color:black;
        
}



.header{
   text-align: left;
   color: black;
   font-family: Georgia;
   font-size: 169%;
   color: Black;
   padding: 1em;
   background-color: white;
   text-decoration: underline;
}

.main{
    line-height: 1.7;
    padding: 1em;
    font-family: Georgia;
    font-size: 112%;
    color: #333;
    background-color: white;
    
    
}

.footer{
    padding: 1em;
    padding-bottom: 1em;
    color: 333;
    color: black;
    background-color: white;
    font-weight: 600;
    border-top: 1.4px solid black;
}

.gallery {
    margin: 5px;
    border: 1.6px solid black;
    float: left;
    width: 180px;
    color: white;
    background-color: black;
}

.gallery:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: 80%;
    font-family: Georgia;
    
    
}

a, ul {
    color: darkslategray;
    font-family: Georgia;
    
}


